{% extends "init.html" %}
{% block content %}
   <a href="/logout">click heere</a>    
	<div class="col-sm-9  main">
	    <div class="box box-primary">
	        <div class="box-header">
	            <h3 class="box-title">
	                <i class="fa fa-file-o"></i> 
	                Nuevo Cliente 
	            </h3>
	        </div>
	        <div class="box-body">
	            <form class="form-formulario" action="/form" method="post" role="form">
	                <div class="row">
	                    <div class="col-md-3">
	                        <label >Nombre<span class="asterisk">*</span>:</label>
	                        <input id="id" name="id" class="form-control input-sm" type="hidden">
	                        <input id="first_name" name="user_input" required="" class="form-control input-sm uppercase" type="text">
	                    </div>
	                    <div class="col-md-3">
	                        <label >Apellido<span class="asterisk">*</span>:</label>
	                        <input id="last_name" name="user_input" required="" class="form-control input-sm uppercase" type="text">
	                    </div>
	                    <div class="col-md-3">
	                        <label >Género:</label>
	                        <select id="gender" name="user_input" class="form-control input-sm uppercase">
	                            <option value="" selected="">Favor Seleccione...</option>
	                            <option value="man">Hombre</option>
	                            <option value="women">Mujer</option>
	                        </select>
	                    </div>
	                    <div class="col-md-3">
	                        <label >Tipo de Identificación:</label>
	                        <select id="identification_type" name="user_input" class="form-control input-sm uppercase">
	                            <option value="CEDULA">CEDULA</option>
	                            <option value="PASSPORT">PASSPORT</option>
	                        </select>
	                   </div>
	                    <div class="col-md-3">
	                        <label >Núm. Identificación:</label>
	                        <input id="identification" name="user_input" class="form-control input-sm uppercase" data-inputmask="&quot;mask&quot;: &quot;999999999999999&quot;" data-mask="" type="text">
	                    </div>
	                    <div class="col-md-3">
	                        <label >Teléfono:</label>
	                        <input id="phone" name="user_input" class="form-control input-sm uppercase" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" type="text">
	                    </div>
	                    <div class="col-md-3">
	                        <label >Celular:</label>
	                        <input id="movil" name="user_input" class="form-control input-sm uppercase" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" type="text">
	                    </div>
	                    <div class="col-md-3">
	                        <label >email:</label>
	                        <input id="email" name="user_input" class="form-control input-sm uppercase" type="email">
	                    </div>
	                    <div class="col-md-3">
	                       <label>Fecha de Nacimiento:</label>
	                        <div class="input-group">
	                            <input id="date_birth" name="user_input" class="form-control input-sm uppercase" type="date">
	                            <div class="input-group-addon">
	                                <i class="fa fa-calendar"></i>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-md-9">
	                        <label for="exampleInputText">Dirección:</label>
	                        <input id="address" name="user_input" class="form-control input-sm uppercase" type="text">
	                    </div>
	                    <div class="col-md-5"></div>
	                <div class="col-md-1">
	                    <button type="submit" id="process_customer" class="btn btn-primary pull-left btn-sm"><i class="fa fa-save"></i> Guardar</button>
	                </div>
	                <div class="col-md-1">
	                    <button type="submit" id="cancel_customer" class="btn btn-danger pull-left btn-sm"><i class="fa fa-times-circle"></i> Cancelar</button>
	                </div>
	                <div class="col-md-5"></div>   
	            </form>
	            <p></p>
	            <div class="col-md-12"><hr></div>	
	            <div class="row">
	                <div class="col-md-5"></div>
	                <div class="col-md-1">
	                    <button type="submit" id="process_customer" class="btn btn-primary pull-left btn-sm"><i class="fa fa-save"></i> Guardar</button>
	                </div>
	                <div class="col-md-1">
	                    <button type="submit" id="cancel_customer" class="btn btn-danger pull-left btn-sm"><i class="fa fa-times-circle"></i> Cancelar</button>
	                </div>
	                <div class="col-md-5"></div>
	            </div>
	        </div>
	    </div>
	</div>          
</div>
</div>
<!-- <script type="text/javascript">
	$('.process_customer').click(function(){
  $('form input[name=user_input]').each(function(){
    var mydata = $(this).val();
    window.alert(mydata);
    alert(mydata)
  });
  $.ajax({
    type: 'POST',
    url: '/add_user',
    data: mydata,
    success: function(result) {
      if(result == "true"){
        alert("el paciente se grego");
      }else{
        alert("paciente no agrego");
      }
    }
  });
});
</script> -->
<script src="../static/js/user_formulario.js"></script>
{% endblock %}