<!DOCTYPE html>
<html>
	<head>
		<title>inicio</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			.ancestors * { 
				display: block;
			    border: 2px solid grey;
			    color: lightgrey;
			    /*padding: 5px;
			    margin: 15px;
			}*/
		</style>
	</head>
	<body>
	    <div class="ancestors col-md-12">
			<div class="col-md-12">div (great-grandparent)
			    <ul>ul (grandparent)  
			      <li>li (direct parent)
			        <span>span</span>
			      </li>
			    </ul>   
			</div>
			<div class="col-sm-3 col-md-2 side-bar">div (great-grandparent)
			    <ul>ul (grandparent)  
			      <li>li (direct parent)
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			        <span>span</span>
			      </li>
			    </ul>   
			</div>
		</div>
			      
	</body>
</html>